<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Appetizer, from Puppet Labs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Andrew Roetker">

        <!-- Le styles -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/general.css" rel="stylesheet">
        <link href="/css/dc.css" rel="stylesheet">

        <!-- Le preloaded-javascript -->
        <script src="/js/d3.v3.min.js"></script>
        <script src="/js/crossfilter/crossfilter.min.js"></script>
        <script src="/js/dc.js-1.4.0/dc.min.js"></script>

    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div>
                <div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class='logoImage logoImageHeader' src="/img/puppetlabslogo.png" alt="Puppet Labs">Appetizer</a>
                    <div class="nav-collapse collapse nav-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li id="overview" class="dropdown">
                            <a data-toggle="dropdown" id="dLabel" class="dropdown-toggle"  href="#">Overview <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a href="/">Home</a></li>
                                <li><a href="/overview">Overview</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Visualization</li>
                                <li><a href="/all_products">All Product Checkins</a></li>
                                <li><a href="/demograph">Demonstration Graph</a></li>
                                <li><a href="/checkins_by_date">Checkins By Date</a></li>
                            </ul>
                            </li>
                            <li id="about"><a href="/about">About</a></li>
                            <li id="contact"><a href="/contact">Contact</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <!-- This is where the body should be inserted -->
        <div class="container" id='main'></div><!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/jquery-2.0.3.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>        
        <div id="le_javascript"></div>

    </body>
</html>
<!-- vim: set sw=2 sts=2 et tw=80 : -->
